.comparison-header li {
	display: inline-block;
	width: 10em;
}

table.comparison {
	border-collapse: collapse;
}

table.comparison td, table.comparison th {
	border: 1px solid #444444;
	padding: 0.2em 0.5em;
        vertical-align: top;
}

table.comparison pre {
	margin: 0;
}

table.comparison ul {
	margin: 0;
	padding-left: 1em;
}

a.reflink {
	display: block;
        width: 2em;
        height: 2em;
        float: right;
	text-align: center;
	line-height: 2em; /* vertical centering trick */

	background: #EDB801;
        color: #404040;

	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	transition: all 0.3s ease-out;
	box-shadow:
		inset 0 1px 0 rgba(255,255,255,0.5), 
		0 2px 2px rgba(0,0,0,0.3), 
		0 0 4px 1px rgba(0,0,0,0.2); 

	text-decoration: none;
	text-shadow: 0 1px rgba(255,255,255,0.7);
}

a.reflink:hover {
	background: #FEC70A;
}

a.reflink:active {
	box-shadow: 
		inset 0 -2px 1px rgba(255,255,255,0.2), 
		inset 0 3px 2px rgba(0,0,0,0.12);
}

tr.data th {
	background: #ECDEBF;
	font-weight: normal;
	text-align: left;
}

tr.header1 th {
	background: #999A8B;
	font-size: 200%;
}

tr.header2 th {
	background: #5D5350;
	font-size: 175%;
}

tr.header3 th {
	background: #7B6356;
	font-size: 150%;
}

.cell_symbol {
	text-align: center;
	font-size: 150%;
}

.cell_yes {
	background: #E0FFE0;
}

.cell_no {
	background: #FFE0E0;
}

.cell_na {
	background: #C0C0C0;
}
