<%= render('global_header.rhtml', binding) %>
<div class="question-card">
	<div class="topic"><%= @topic_names[t] %></div>
	<div class="question">Q: <%= desc %></div>
	<div class="short-answer"><%= c[:data] %></div>
	<div class="long-answer"><%= c[:long] %></div>
	<ul class="references">
<% (c[:refs] || []).each { |r| %>
		<li><a href="<%= r %>"><%= r %></a></li>
<% } %>
	</ul>
</div>
<%= render('global_footer.rhtml', binding) %>
