<%= render('global_header.rhtml', binding) %>
<div class="container">
	<h2 class="question"><%= desc %></h2>
	<h3 class="topic"><%= @topic_names[t] %></h3>
	<div class="short-answer"><%= c[:data] %></div>
	<div class="long-answer"><%= c[:long] %></div>
	<h3 class="references">References</h3>
	<ul class="references">
<% (c[:refs] || []).each { |r| %>
		<li><a href="<%= r %>"><%= r %></a></li>
<% } %>
	</ul>
</div>
<%= render('global_footer.rhtml', binding) %>
