<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title><%= global_name %></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="<%= @root_path %>css/normalize.css">
	<link rel="stylesheet" href="<%= @root_path %>css/main.css">
	<link rel="stylesheet" href="<%= @root_path %>css/comparison.css">
	<script src="<%= @root_path %>js/vendor/modernizr-2.6.1.min.js"></script>
	<script src="<%= @root_path %>js/comparison.js"></script>
	<style title="temp-styles"></style>
</head>
<body onload="javascript:loadSelected();">
<div class="container">
<h1><%= global_name %></h1>
<ul class="breadcrumb">
<% (@nav_path.length + 1).times { |i|
	caption = if i > 0 then @nav_path[i - 1] else 'Home' end
	active = (i == @nav_path.length)
	link = "#{@root_path}#{@nav_path.slice(0, i).join('/')}#{'/' if i > 0}index.html"
	if active %>
	<li class="active"><%= caption %></li>
<%	else %>
	<li><a href="<%= link %>"><%= caption %></a><span class="divider">&gt;</span></li>
<%	end 
} %>
</ul>
</div>
