<tr class="data">
	<th class="cell"><%= desc %></th>
<% cols.each { |c| %>
	<td<%= " class=\"cell_#{c[:symbol]}\"" if c[:symbol] %>>
		<a class="cell-link" href="<%= c[:link] %>">
			<div class="cell"><%
case c[:symbol]
when 'yes' then %><div class="cell_symbol"><%= "\u2611" %></div><%
when 'no' then %><div class="cell_symbol"><%= "\u2610" %></div><%
when 'na' then %><div class="cell_symbol">N/A</div><%
end
%><%= c[:data_bare] || '?' %></div>
		</a>
	</td>
<%		} %>
</tr>
